


@keyframes glass-blur {

  0%{
    filter:blur(calc(0.1vh + 0.1vw));
  }

  2%{
    filter:blur(calc(0.2vh + 0.2vw));
  }

  8%{
    filter:blur(calc(0.4vh + 0.4vw));
  }
  15%{
    filter:blur(calc(0.5vh + 0.5vw));
  }
  100%{
    filter:blur(calc(0.6vh + 0.6vw));
  }
}

@keyframes glass-expand {
  0%{
    transform:scale(1);
  }

  15%{
    transform:scale(1);
  }
  35%{
    transform:scale(1.04);
  }

  100%{
    transform:scale(1.04);
  }

}

@keyframes light-pulse-halo {
  0% {
    mask-position: 100vw;
  }

  100% {
    mask-position: -200vw;
  }
}


#hero
{



  h1{
    text-align: center;
    background-color: var(--color);
    font-family: "Lucida Console", monospace;
    font-size: calc(4vw + 2vh);
    padding: 16px;
    padding-top: 4px;
    padding-bottom: 8px;
    overflow-x:hidden;
    color:var(--hero-title);

  }



#background-hero-background {
    background-image: url("../assets/images/backgrounds/hero-image-background-1270-adjusted.png");
    background-repeat: no-repeat, no-repeat;
    height: 100%;
    width: 100%;
    margin:auto;
    overflow-x:hidden;
    position:absolute;
    background-position: top;
    z-index: 3;
    background-size: cover;
  
  }

  #background-hero-foreground {
    background-image: url("../assets/images/backgrounds/hero-image-foreground-1270-adjusted.png");
    background-repeat: no-repeat, no-repeat;
    height: 100%;
    width: 100%;
    margin:auto;
    overflow-x:hidden;
    position:absolute;
    background-position: top;
    z-index: 5;
    background-size: cover;



  } 
  

  #hero-background-lights
  {
    background-image: url("../assets/images/backgrounds/hero-image-background-lights-base.png");
    background-repeat: no-repeat, no-repeat;
    height: 100%;
    width: 100%;
    background-position: top;

    z-index: 3; /* over hero background but under hero foreground */
    position:absolute;
    top: 0vh; 
    background-size: cover;

    filter:brightness(200%) contrast(150%);

    margin:auto;
    overflow-x:hidden;


    top: 0vh;



    mask-image: linear-gradient(
    90deg,
    #0000 0%,
    #ffff 40%,
    #ffff 60%,
    #0000 100%
  );

  mask-size: 100% 100%;
  mask-repeat: no-repeat no-repeat;
  opacity: 20%;
  }

  #hero-background-lights.animation-toggle-enabled{
    mask-size: 200% 100%;
    opacity: 70%;
    animation: light-pulse-halo infinite 4s running;
  }

  #hero-foreground-lights
  {
    background-image: url("../assets/images/backgrounds/hero-image-foreground-lights-base.png");
    background-repeat: no-repeat, no-repeat;
    height: 100%;
    width: 100%;
    background-position: top;

    z-index: 5; /* over hero background but under hero foreground */
    position:absolute;
    top: 0vh; 
    background-size: cover;
    filter:brightness(200%) contrast(150%);

    margin:auto;
    overflow-x:hidden;


    top: 0vh;


    
    mask-image: linear-gradient(
    90deg,
    #0000 0%,
    #ffff 50%,
    #ffff 60%,
    #0000 100%
  );

  opacity: 20%;
  mask-size: 100% 100%;
  mask-repeat: no-repeat no-repeat;
  }

  #hero-foreground-lights.animation-toggle-enabled{
    opacity: 40%;
    mask-size: 200% 100%;
    animation: light-pulse-halo infinite 4s running;
  }

  #hero-title-normal {
    display: block; 
    position: fixed;
    z-index: 4;
    top: 15svh;
    margin:auto;
    width: 100%;


    text-shadow: #000000 0px 0px 20px, #000000 0px 0px 10px, #000000 0px 0px 20px, #000000 0px 0px 10px;
    -webkit-text-stroke: var(--hero-title-highlight) 2px;

  }



  #hero-title-glass {
    display: block;
    position: fixed;
    z-index: 5;
    top: 15svh;
    margin:auto;
    width: 100%;


    animation: glass-expand 1s linear infinite, glass-blur 1s linear infinite;


    animation-play-state: paused;
    animation-delay: 2s;

    animation-iteration-count: 1;
    animation-fill-mode: both;



  }

  #hero-title-glass.animation-toggle-enabled{
    animation-delay: calc(var(--scroll) * -1s);
  }

  #hero-title-glass:not(.animation-toggle-enabled){
    animation: none;
    filter:blur(calc(0.4vh + 0.4vw));
  }




#hero-paragraph-text-wrapper
{
  margin: auto;

  width: 70%;  

  @media (orientation: portrait) {
    width: 80%;
    top: 47svh;
    font-size: 4vw;
  }
  p{
    
  text-align: center;

  width: 100%;  

overflow-y: hidden;

  background-color: var(--color);
  font-family: "public-pixel", monospace;
  font-size: calc(1.5vh + 0.75vw);
  color:var(--hero-text);
  top: 60svh;
  @media (orientation: portrait) {
    top: 47svh;
  }
  position:relative;
  float: left;
  z-index: 7;
  text-shadow: #000000 0 0 5px, #000000 0 0 5px;
margin:auto;



  }

  
}



}


  /* empty div so content after hero gets pushed down */
#hero-spacer
{
  height:100svh;
}







  /* TODO: 
  https://www.w3schools.com/cssref/css3_pr_background.php
  https://blog.logrocket.com/css-full-page-background/
  https://css-tricks.com/perfect-full-page-background-image/
  https://www.freecodecamp.org/news/css-background-image-with-html-example-code/
  */