
@keyframes glass-blur {
  0%{
    filter:blur(4px);
  }


  8%{
    filter:blur(6px);
  }
  15%{
    filter:blur(8px);
  }
  100%{
    filter:blur(10px);
  }
}

@keyframes glass-expand {
  0%{
    transform:scale(1);
  }

  15%{
    transform:scale(1);
  }
  35%{
    transform:scale(1.04);
  }

  100%{
    transform:scale(1.04);
  }

}

#hero
{



  h1{
    text-align: center;
    background-color: var(--color);
    font-family: "Lucida Console", monospace;
    font-size: 8.5vh;
    padding: 16px;
    padding-top: 4px;
    padding-bottom: 8px;
    overflow-x:hidden;
    color:var(--hero-title);

  }



#background-hero-background {
    background-image: url("../assets/images/backgrounds/hero-image-background-1270-adjusted.png");
    background-repeat: no-repeat, no-repeat;
    height: 100%;
    width: 100%;
    margin:auto;
    overflow-x:hidden;
    position:absolute;
    background-position: top;
    z-index: 3;
    background-size: cover;
  
  }

  #background-hero-foreground {
    background-image: url("../assets/images/backgrounds/hero-image-foreground-1270-adjusted.png");
    background-repeat: no-repeat, no-repeat;
    height: 100%;
    width: 100%;
    margin:auto;
    overflow-x:hidden;
    position:absolute;
    background-position: top;
    z-index: 5;
    background-size: cover;



  } 
  

  #hero-background-lights
  {
    opacity: 15%;
    z-index: 3; /* over hero background but under hero foreground */
    position:absolute;
    top: 0vh; 
    background-size: cover;
    
  }

  #hero-background-lights.animation-toggle-enabled{
    animation: light-pulse infinite 4s running;
  }

  #hero-title-normal {
    display: block; 
    position: fixed;
    z-index: 4;
    top: 15vh;
    margin:auto;
    width: 100%;


    text-shadow: #000000 0px 0px 20px, #000000 0px 0px 10px, #000000 0px 0px 20px, #000000 0px 0px 10px;
    -webkit-text-stroke: var(--hero-title-highlight) 2px;

  }



  #hero-title-glass {
    display: block;
    position: fixed;
    z-index: 5;
    top: 15vh;
    margin:auto;
    width: 100%;
    -webkit-text-stroke: var(--hero-title-highlight) 2px;

    animation: glass-expand 1s linear infinite, glass-blur 1s linear infinite;


    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);

    animation-iteration-count: 1;
    animation-fill-mode: both;



  }






#hero-paragraph-text-wrapper
{
  margin: auto;

  width: 50%;  
  @media (orientation: portrait) {
    width: 80%;
  }

  p{
    
  text-align: center;

  width: 50%;  



  background-color: var(--color);
  font-family: "public-pixel", monospace;
  font-size: 150%;
  color:var(--hero-text);
  top: 60vh;
  position:absolute;
  z-index: 7;
  text-shadow: #000000 0 0 5px, #000000 0 0 5px;
margin:auto;

@media (orientation: portrait) {
  width: 80%;
  top: 50vh;
  font-size: 4vw;
}

  }

  
}



}


  /* empty div so content after hero gets pushed down */
#hero-spacer
{
  height:100vh;

}







  /* TODO: 
  https://www.w3schools.com/cssref/css3_pr_background.php
  https://blog.logrocket.com/css-full-page-background/
  https://css-tricks.com/perfect-full-page-background-image/
  https://www.freecodecamp.org/news/css-background-image-with-html-example-code/
  */