
$shadow-x-distance: 60px;
$shadow-y-distance: 40px;
$shadow-blur: 10px;
$shadow-color: #000000;

#projects{
  overflow-x:hidden;
  padding-bottom: 15vh;

$section-intro-duration: 0.5s;

.projectInfoWrapper
{
  overflow:hidden; /* prevent internal animations expanding the browser window or pushing other stuff around*/
}

@keyframes expand-from-nothing
{
  from {
    transform: scaleX(0);
    transform: scaleY(0);
  }
  to {
    transform: scaleX(1);
    transform: scaleY(1);
  }
}

p {
  /* align paragraph to the center of the screen*/
  margin: auto;
  margin-top: 0;
  margin-bottom: 0.3em;

  text-align: left;
  font-size: 120%;
  text-shadow: black 0 0 10px, black 0 0 5px, $shadow-color $shadow-x-distance $shadow-y-distance $shadow-blur;
  color: var(--text);
  width: 40%;  

  /*increase line spacing slightly*/
  line-height: 1.20;


  @media (orientation: portrait) {
    width: 80%;
    font-size: 4vw;
  }

}



h2 {
  /* same as above with slightly smaller font */ 
  text-align: center;
  background-color: var(--color);
  font-family: "public-pixel", monospace;
  font-size: 3em;
  padding: 16px;
  padding-top: 4px;
  padding-bottom: 8px;
  margin: auto;
  margin-top: 0;
  margin-bottom: 0.3em;
  color:var(--title);
  text-shadow: black 0 0 10px, black 0 0 5px, $shadow-color $shadow-x-distance $shadow-y-distance calc($shadow-blur + 5px);


}

.tagContainer{

    .tag{
        display: inline-block;
        color:var(--text-disabled);
        background-color: var(--titleHighlight);
        scroll-snap-align: start;
        transform: scaleX(0);
        transform: scaleY(0);
        box-shadow: rgba(0, 0, 0, 0.25) $shadow-x-distance $shadow-y-distance $shadow-blur;
    }

    .tag.has-been-visible
    {
      animation-name: expand-from-nothing;
      animation-duration: 0.5s;
      animation-fill-mode: forwards;
      animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }

    @for $i from 1 through 100 {
      .tag:nth-child(#{$i})
      {
        $delay: ($section-intro-duration * 0.5) + ($i * 0.1 ) + (0.5 * random());
        animation-delay: #{$delay};
      }
    }

}



@keyframes slide-in-from-left
{
  0% {
    transform: translate(-100%, 0);
  }

  80%
  {
    transform: translate(+2%, 0);
  }

  100% {
    transform: translate(0);
  }
}

@keyframes slide-in-from-right
{
  0% {
    transform: translate(100%, 0);
  }

  80%
  {
    transform: translate(-2%, 0);
  }

  100% {
    transform: translate(0);
  }
}



.projectInfo{
  /* should auto expand to fill parent div*/
padding-top: 10vh;
padding-bottom: 10vh;

}


/* alternate slide-in-from-left and slide-in-from-right for each project. Hide off screen when not visible. */
#HCM.has-been-visible, #com.has-been-visible{
  animation: $section-intro-duration ease-in-out slide-in-from-left ;
  transform: translate(0, 0);
  }


#HCM, #com{
  transform: translate(-100%, 0);
  }

#CEER.has-been-visible, #autosplitter.has-been-visible{
  animation: $section-intro-duration ease-in-out slide-in-from-right ;
  transform: translate(0, 0);
  }


#CEER, #autosplitter{
  transform: translate(100%, 0);
  }


}