#projects {
  overflow-x: hidden;
  padding-bottom: 15vh;
  /* alternate slide-in-from-left and slide-in-from-right for each project. Hide off screen when not visible. */
}
#projects a {
  /* content to center of screen*/
  display: block;
  text-align: center;
}
#projects .projectInfoWrapper {
  overflow: hidden; /* prevent internal animations expanding the browser window or pushing other stuff around*/
}
@keyframes expand-from-nothing {
  from {
    transform: scaleX(0);
    transform: scaleY(0);
  }
  to {
    transform: scaleX(1);
    transform: scaleY(1);
  }
}
@keyframes animate-bevel-border {
  0% {
    background-position: -150vw 0;
  }
  33% {
    background-position: -100vw 0;
  }
  66% {
    background-position: 50vw 0;
  }
  100% {
    background-position: 150vw 0;
  }
}
#projects #HCM {
  padding-top: 15vh;
}
#projects .beveled-background-container {
  padding: 3vh 1vw 12vh 0vw;
  height: 100%;
  width: 100%;
}
#projects .beveled-background-container.animation-toggle-enabled {
  filter: drop-shadow(12vw 8vh 15px rgba(0, 0, 0, 0.5));
}
#projects .beveled-background-border, #projects .beveled-background-inner {
  -webkit-clip-path: polygon(90% 0, 100% calc(10% * var(--child-aspect-ratio)), 100% 100%, 0 100%, 0 0);
          clip-path: polygon(90% 0, 100% calc(10% * var(--child-aspect-ratio)), 100% 100%, 0 100%, 0 0);
  /*
  given width x

  */
}
#projects .beveled-background-border {
  background: rgb(87, 170, 219);
  background-size: 300vw 100%;
  width: 70%;
  margin: auto;
  padding: 2px 2px 2px 2px;
}
@media (orientation: portrait) {
  #projects .beveled-background-border {
    width: 95%;
  }
}
#projects .beveled-background-border.animation-toggle-enabled {
  background: linear-gradient(90deg, rgb(0, 59, 93) 0%, rgb(129, 209, 255) 50%, rgb(0, 59, 93) 100%);
  background-size: 300vw 100%;
  animation-name: animate-bevel-border;
  animation-duration: 4s;
  animation-delay: -2.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
#projects .beveled-background-inner {
  background: radial-gradient(circle, rgb(1, 0, 10) 0%, rgb(26, 26, 41) 44%, rgb(13, 26, 28) 100%);
}
#projects .projectInfo {
  /* should auto expand to fill parent div*/
  padding: 1vh 5vw 5vh 5vw;
}
@media (orientation: portrait) {
  #projects .projectInfo {
    padding: 1vh 5vw 5vh 5vw;
  }
}
#projects .projectInfo h2 {
  /* same as h1 with slightly smaller font */
  text-align: center;
  background-color: var(--color);
  font-family: "public-pixel", monospace;
  font-size: calc((0.5vw + 1.5vh) * 2);
  padding: 16px;
  padding-top: 40px;
  padding-bottom: 0px;
  margin: auto;
  color: var(--title);
  text-shadow: black 0 0 10px, black 0 0 5px;
}
#projects .projectInfo p {
  /* align paragraph to the center of the screen*/
  margin: auto;
  margin-top: 0;
  margin-bottom: 0.3em;
  margin: auto;
  text-align: left;
  text-shadow: black 0 0 10px, black 0 0 5px;
  color: var(--text);
  /*increase line spacing slightly*/
  line-height: 1.2;
  font-size: calc(0.5vw + 1.5vh);
  width: 80%;
  padding-bottom: 2vh;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
}
@media (orientation: portrait) {
  #projects .projectInfo p {
    width: 95%;
  }
}
#projects .tagContainer {
  padding-bottom: 1vh;
  width: 100%;
  padding-left: 2vw;
  padding-top: 1vh;
  margin: auto;
}
#projects .tagContainer .tag {
  padding: 2px 2px 2px 2px;
  margin: 1px 1px 1px 1px;
  border: 2px outset rgb(69, 52, 125);
  display: inline-block;
  color: rgb(255, 255, 255);
  background-color: rgb(89, 63, 131);
  scroll-snap-align: start;
  transform: scaleX(1);
  transform: scaleY(1);
  box-shadow: rgba(0, 0, 0, 0.5) 8px 8px 10px;
  font-family: monaco, Consolas, Lucida Console, monospace;
  font-size: calc((0.5vw + 1.5vh) * 0.7);
  font-weight: 300%;
  text-shadow: 0 0 1px black;
}
#projects .tagContainer .tag.animation-toggle-enabled {
  transform: scaleX(0);
  transform: scaleY(0);
}
#projects .tagContainer .tag.has-been-visible.tag.animation-toggle-enabled {
  animation-name: expand-from-nothing;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
#projects .tagContainer .tag:nth-child(1) {
  animation-delay: 0.8224835384s;
}
#projects .tagContainer .tag:nth-child(2) {
  animation-delay: 0.8174327378s;
}
#projects .tagContainer .tag:nth-child(3) {
  animation-delay: 0.9125202659s;
}
#projects .tagContainer .tag:nth-child(4) {
  animation-delay: 0.7174299876s;
}
#projects .tagContainer .tag:nth-child(5) {
  animation-delay: 1.115973118s;
}
#projects .tagContainer .tag:nth-child(6) {
  animation-delay: 1.3334019216s;
}
#projects .tagContainer .tag:nth-child(7) {
  animation-delay: 1.1215414228s;
}
#projects .tagContainer .tag:nth-child(8) {
  animation-delay: 1.0722538689s;
}
#projects .tagContainer .tag:nth-child(9) {
  animation-delay: 1.6381309486s;
}
#projects .tagContainer .tag:nth-child(10) {
  animation-delay: 1.290769843s;
}
#projects .tagContainer .tag:nth-child(11) {
  animation-delay: 1.6595592537s;
}
#projects .tagContainer .tag:nth-child(12) {
  animation-delay: 1.8094114379s;
}
#projects .tagContainer .tag:nth-child(13) {
  animation-delay: 1.6285043371s;
}
#projects .tagContainer .tag:nth-child(14) {
  animation-delay: 1.9579500317s;
}
#projects .tagContainer .tag:nth-child(15) {
  animation-delay: 2.1545527358s;
}
#projects .tagContainer .tag:nth-child(16) {
  animation-delay: 2.2670286479s;
}
#projects .tagContainer .tag:nth-child(17) {
  animation-delay: 2.3558642683s;
}
#projects .tagContainer .tag:nth-child(18) {
  animation-delay: 2.0586430849s;
}
#projects .tagContainer .tag:nth-child(19) {
  animation-delay: 2.568372187s;
}
#projects .tagContainer .tag:nth-child(20) {
  animation-delay: 2.6506863084s;
}
#projects .tagContainer .tag:nth-child(21) {
  animation-delay: 2.7392018499s;
}
#projects .tagContainer .tag:nth-child(22) {
  animation-delay: 2.4724102507s;
}
#projects .tagContainer .tag:nth-child(23) {
  animation-delay: 2.589742239s;
}
#projects .tagContainer .tag:nth-child(24) {
  animation-delay: 2.841933839s;
}
#projects .tagContainer .tag:nth-child(25) {
  animation-delay: 3.0810087189s;
}
#projects .tagContainer .tag:nth-child(26) {
  animation-delay: 3.0601142636s;
}
#projects .tagContainer .tag:nth-child(27) {
  animation-delay: 3.2883333517s;
}
#projects .tagContainer .tag:nth-child(28) {
  animation-delay: 3.0772902831s;
}
#projects .tagContainer .tag:nth-child(29) {
  animation-delay: 3.1603490639s;
}
#projects .tagContainer .tag:nth-child(30) {
  animation-delay: 3.5663264478s;
}
#projects .tagContainer .tag:nth-child(31) {
  animation-delay: 3.6636041978s;
}
#projects .tagContainer .tag:nth-child(32) {
  animation-delay: 3.6922178602s;
}
#projects .tagContainer .tag:nth-child(33) {
  animation-delay: 3.8357753422s;
}
#projects .tagContainer .tag:nth-child(34) {
  animation-delay: 3.7928748069s;
}
#projects .tagContainer .tag:nth-child(35) {
  animation-delay: 3.7745256294s;
}
#projects .tagContainer .tag:nth-child(36) {
  animation-delay: 4.2633862152s;
}
#projects .tagContainer .tag:nth-child(37) {
  animation-delay: 4.1945608613s;
}
#projects .tagContainer .tag:nth-child(38) {
  animation-delay: 4.3259199923s;
}
#projects .tagContainer .tag:nth-child(39) {
  animation-delay: 4.4578067792s;
}
#projects .tagContainer .tag:nth-child(40) {
  animation-delay: 4.7136269776s;
}
#projects .tagContainer .tag:nth-child(41) {
  animation-delay: 4.5310938758s;
}
#projects .tagContainer .tag:nth-child(42) {
  animation-delay: 4.8158166926s;
}
#projects .tagContainer .tag:nth-child(43) {
  animation-delay: 4.741323509s;
}
#projects .tagContainer .tag:nth-child(44) {
  animation-delay: 4.8323417655s;
}
#projects .tagContainer .tag:nth-child(45) {
  animation-delay: 5.2137948986s;
}
#projects .tagContainer .tag:nth-child(46) {
  animation-delay: 5.0202503333s;
}
#projects .tagContainer .tag:nth-child(47) {
  animation-delay: 5.0698929834s;
}
#projects .tagContainer .tag:nth-child(48) {
  animation-delay: 5.228753376s;
}
#projects .tagContainer .tag:nth-child(49) {
  animation-delay: 5.3101754602s;
}
#projects .tagContainer .tag:nth-child(50) {
  animation-delay: 5.5135326253s;
}
#projects .tagContainer .tag:nth-child(51) {
  animation-delay: 5.7801039149s;
}
#projects .tagContainer .tag:nth-child(52) {
  animation-delay: 5.705783385s;
}
#projects .tagContainer .tag:nth-child(53) {
  animation-delay: 6.0481483195s;
}
#projects .tagContainer .tag:nth-child(54) {
  animation-delay: 5.9811942514s;
}
#projects .tagContainer .tag:nth-child(55) {
  animation-delay: 6.0197996544s;
}
#projects .tagContainer .tag:nth-child(56) {
  animation-delay: 5.8650698238s;
}
#projects .tagContainer .tag:nth-child(57) {
  animation-delay: 6.0220789772s;
}
#projects .tagContainer .tag:nth-child(58) {
  animation-delay: 6.2712027533s;
}
#projects .tagContainer .tag:nth-child(59) {
  animation-delay: 6.4652219908s;
}
#projects .tagContainer .tag:nth-child(60) {
  animation-delay: 6.6586434109s;
}
#projects .tagContainer .tag:nth-child(61) {
  animation-delay: 6.5133525379s;
}
#projects .tagContainer .tag:nth-child(62) {
  animation-delay: 6.5206874464s;
}
#projects .tagContainer .tag:nth-child(63) {
  animation-delay: 6.6866549999s;
}
#projects .tagContainer .tag:nth-child(64) {
  animation-delay: 7.1062260419s;
}
#projects .tagContainer .tag:nth-child(65) {
  animation-delay: 7.1220400608s;
}
#projects .tagContainer .tag:nth-child(66) {
  animation-delay: 7.1014840365s;
}
#projects .tagContainer .tag:nth-child(67) {
  animation-delay: 7.1923651633s;
}
#projects .tagContainer .tag:nth-child(68) {
  animation-delay: 7.2479320038s;
}
#projects .tagContainer .tag:nth-child(69) {
  animation-delay: 7.316356268s;
}
#projects .tagContainer .tag:nth-child(70) {
  animation-delay: 7.3570840266s;
}
#projects .tagContainer .tag:nth-child(71) {
  animation-delay: 7.761672034s;
}
#projects .tagContainer .tag:nth-child(72) {
  animation-delay: 7.7382889441s;
}
#projects .tagContainer .tag:nth-child(73) {
  animation-delay: 7.636574835s;
}
#projects .tagContainer .tag:nth-child(74) {
  animation-delay: 7.9928141375s;
}
#projects .tagContainer .tag:nth-child(75) {
  animation-delay: 7.9018144208s;
}
#projects .tagContainer .tag:nth-child(76) {
  animation-delay: 8.3409697498s;
}
#projects .tagContainer .tag:nth-child(77) {
  animation-delay: 8.2911450248s;
}
#projects .tagContainer .tag:nth-child(78) {
  animation-delay: 8.3555258241s;
}
#projects .tagContainer .tag:nth-child(79) {
  animation-delay: 8.3702254948s;
}
#projects .tagContainer .tag:nth-child(80) {
  animation-delay: 8.7009712035s;
}
#projects .tagContainer .tag:nth-child(81) {
  animation-delay: 8.6024720791s;
}
#projects .tagContainer .tag:nth-child(82) {
  animation-delay: 8.5478267953s;
}
#projects .tagContainer .tag:nth-child(83) {
  animation-delay: 9.0091753391s;
}
#projects .tagContainer .tag:nth-child(84) {
  animation-delay: 8.8472060456s;
}
#projects .tagContainer .tag:nth-child(85) {
  animation-delay: 8.9377548338s;
}
#projects .tagContainer .tag:nth-child(86) {
  animation-delay: 9.1679817146s;
}
#projects .tagContainer .tag:nth-child(87) {
  animation-delay: 9.2992144455s;
}
#projects .tagContainer .tag:nth-child(88) {
  animation-delay: 9.4129994825s;
}
#projects .tagContainer .tag:nth-child(89) {
  animation-delay: 9.407064598s;
}
#projects .tagContainer .tag:nth-child(90) {
  animation-delay: 9.3693332581s;
}
#projects .tagContainer .tag:nth-child(91) {
  animation-delay: 9.7819950754s;
}
#projects .tagContainer .tag:nth-child(92) {
  animation-delay: 9.4662794224s;
}
#projects .tagContainer .tag:nth-child(93) {
  animation-delay: 9.6110792321s;
}
#projects .tagContainer .tag:nth-child(94) {
  animation-delay: 9.9245369863s;
}
#projects .tagContainer .tag:nth-child(95) {
  animation-delay: 9.9820174361s;
}
#projects .tagContainer .tag:nth-child(96) {
  animation-delay: 10.2542105369s;
}
#projects .tagContainer .tag:nth-child(97) {
  animation-delay: 9.9956717066s;
}
#projects .tagContainer .tag:nth-child(98) {
  animation-delay: 10.104213005s;
}
#projects .tagContainer .tag:nth-child(99) {
  animation-delay: 10.5512678733s;
}
#projects .tagContainer .tag:nth-child(100) {
  animation-delay: 10.4310131868s;
}
@keyframes slide-in-from-left {
  0% {
    transform: translate(-100%, 0);
  }
  80% {
    transform: translate(2%, 0);
  }
  100% {
    transform: translate(0);
  }
}
@keyframes slide-in-from-right {
  0% {
    transform: translate(100%, 0);
  }
  80% {
    transform: translate(-2%, 0);
  }
  100% {
    transform: translate(0);
  }
}
#projects #HCM.has-been-visible.animation-toggle-enabled, #projects #com.has-been-visible.animation-toggle-enabled {
  animation: 0.5s ease-in-out slide-in-from-left;
  transform: translate(0, 0);
}
#projects #HCM.animation-toggle-enabled, #projects #com.animation-toggle-enabled {
  transform: translate(-100%, 0);
}
#projects #CEER.has-been-visible.animation-toggle-enabled, #projects #autosplitter.has-been-visible.animation-toggle-enabled {
  animation: 0.5s ease-in-out slide-in-from-right;
  transform: translate(0, 0);
}
#projects #CEER.animation-toggle-enabled, #projects #autosplitter.animation-toggle-enabled {
  transform: translate(100%, 0);
}
#projects #HCM, #projects #com {
  transform: translate(0%, 0);
}
#projects #CEER, #projects #autosplitter {
  transform: translate(0%, 0);
}/*# sourceMappingURL=projectInfo.css.map */