#projects {
  overflow-x: hidden;
  padding-bottom: 15vh;
  /* alternate slide-in-from-left and slide-in-from-right for each project. Hide off screen when not visible. */
}
#projects .projectInfoWrapper {
  overflow: hidden; /* prevent internal animations expanding the browser window or pushing other stuff around*/
}
@keyframes expand-from-nothing {
  from {
    transform: scaleX(0);
    transform: scaleY(0);
  }
  to {
    transform: scaleX(1);
    transform: scaleY(1);
  }
}
@keyframes animate-bevel-border {
  0% {
    background-color: rgb(0, 59, 93);
  }
  10% {
    background-color: linear-gradient(to left, rgb(129, 209, 255), rgb(0, 59, 93));
  }
  35% {
    background-color: rgb(129, 209, 255);
  }
  55% {
    background-color: linear-gradient(to right, rgb(129, 209, 255), rgb(0, 59, 93));
  }
  80% {
    background-color: rgb(7, 90, 138);
  }
  100% {
    background-color: rgb(0, 59, 93);
  }
}
#projects #HCM {
  padding-top: 15vh;
}
#projects .beveled-background-container {
  padding: 3vh 1vw 12vh 1vw;
  height: 100%;
  width: 100%;
  filter: drop-shadow(12vw 8vh 15px rgba(0, 0, 0, 0.5));
}
#projects .beveled-background-border, #projects .beveled-background-inner {
  -webkit-clip-path: polygon(90% 0, 100% 20%, 100% 100%, 0 100%, 0 0);
          clip-path: polygon(90% 0, 100% 20%, 100% 100%, 0 100%, 0 0);
}
#projects .beveled-background-border {
  background: rgb(0, 162, 255);
  width: 60%;
  margin: auto;
  padding: 2px 2px 2px 2px;
  animation-name: animate-bevel-border;
  animation-duration: 4s;
  animation-delay: 0.3s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
#projects .beveled-background-inner {
  background: radial-gradient(circle, rgb(1, 0, 10) 0%, rgb(26, 26, 41) 44%, rgb(13, 26, 28) 100%);
}
#projects p {
  /* align paragraph to the center of the screen*/
  margin: auto;
  margin-top: 0;
  margin-bottom: 0.3em;
  width: 100%;
  text-align: left;
  font-size: 120%;
  text-shadow: black 0 0 10px, black 0 0 5px;
  color: var(--text);
  /*increase line spacing slightly*/
  line-height: 1.2;
}
@media (orientation: portrait) {
  #projects p {
    font-size: 4vw;
  }
}
#projects h2 {
  /* same as above with slightly smaller font */
  text-align: center;
  background-color: var(--color);
  font-family: "public-pixel", monospace;
  font-size: 3em;
  padding: 16px;
  padding-top: 40px;
  padding-bottom: 8px;
  margin: auto;
  margin-top: 0;
  margin-bottom: 0.3em;
  color: var(--title);
  text-shadow: black 0 0 10px, black 0 0 5px;
}
#projects .tagContainer .tag {
  display: inline-block;
  color: var(--text-disabled);
  background-color: var(--titleHighlight);
  scroll-snap-align: start;
  transform: scaleX(0);
  transform: scaleY(0);
  box-shadow: rgba(0, 0, 0, 0.5) 8px 8px 10px;
}
#projects .tagContainer .tag.has-been-visible {
  animation-name: expand-from-nothing;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
#projects .tagContainer .tag:nth-child(1) {
  animation-delay: 0.6211347257s;
}
#projects .tagContainer .tag:nth-child(2) {
  animation-delay: 0.8116568759s;
}
#projects .tagContainer .tag:nth-child(3) {
  animation-delay: 0.6623680306s;
}
#projects .tagContainer .tag:nth-child(4) {
  animation-delay: 1.0714261433s;
}
#projects .tagContainer .tag:nth-child(5) {
  animation-delay: 1.0873071177s;
}
#projects .tagContainer .tag:nth-child(6) {
  animation-delay: 1.2279475878s;
}
#projects .tagContainer .tag:nth-child(7) {
  animation-delay: 1.2336178457s;
}
#projects .tagContainer .tag:nth-child(8) {
  animation-delay: 1.1138217925s;
}
#projects .tagContainer .tag:nth-child(9) {
  animation-delay: 1.4839372739s;
}
#projects .tagContainer .tag:nth-child(10) {
  animation-delay: 1.6152074294s;
}
#projects .tagContainer .tag:nth-child(11) {
  animation-delay: 1.6765332668s;
}
#projects .tagContainer .tag:nth-child(12) {
  animation-delay: 1.5193069351s;
}
#projects .tagContainer .tag:nth-child(13) {
  animation-delay: 1.9286612573s;
}
#projects .tagContainer .tag:nth-child(14) {
  animation-delay: 2.0956012331s;
}
#projects .tagContainer .tag:nth-child(15) {
  animation-delay: 1.9098011766s;
}
#projects .tagContainer .tag:nth-child(16) {
  animation-delay: 2.0152573602s;
}
#projects .tagContainer .tag:nth-child(17) {
  animation-delay: 2.0374053245s;
}
#projects .tagContainer .tag:nth-child(18) {
  animation-delay: 2.2591128951s;
}
#projects .tagContainer .tag:nth-child(19) {
  animation-delay: 2.3248205222s;
}
#projects .tagContainer .tag:nth-child(20) {
  animation-delay: 2.5056789656s;
}
#projects .tagContainer .tag:nth-child(21) {
  animation-delay: 2.4834721282s;
}
#projects .tagContainer .tag:nth-child(22) {
  animation-delay: 2.6375527187s;
}
#projects .tagContainer .tag:nth-child(23) {
  animation-delay: 2.8248981747s;
}
#projects .tagContainer .tag:nth-child(24) {
  animation-delay: 3.0761265719s;
}
#projects .tagContainer .tag:nth-child(25) {
  animation-delay: 2.8562288202s;
}
#projects .tagContainer .tag:nth-child(26) {
  animation-delay: 3.3389643825s;
}
#projects .tagContainer .tag:nth-child(27) {
  animation-delay: 3.166774996s;
}
#projects .tagContainer .tag:nth-child(28) {
  animation-delay: 3.3737875119s;
}
#projects .tagContainer .tag:nth-child(29) {
  animation-delay: 3.239231979s;
}
#projects .tagContainer .tag:nth-child(30) {
  animation-delay: 3.7060107385s;
}
#projects .tagContainer .tag:nth-child(31) {
  animation-delay: 3.6528785711s;
}
#projects .tagContainer .tag:nth-child(32) {
  animation-delay: 3.830157915s;
}
#projects .tagContainer .tag:nth-child(33) {
  animation-delay: 3.6371056144s;
}
#projects .tagContainer .tag:nth-child(34) {
  animation-delay: 4.0485163054s;
}
#projects .tagContainer .tag:nth-child(35) {
  animation-delay: 3.7660246612s;
}
#projects .tagContainer .tag:nth-child(36) {
  animation-delay: 3.8824399925s;
}
#projects .tagContainer .tag:nth-child(37) {
  animation-delay: 4.3308600358s;
}
#projects .tagContainer .tag:nth-child(38) {
  animation-delay: 4.2487025856s;
}
#projects .tagContainer .tag:nth-child(39) {
  animation-delay: 4.4370837622s;
}
#projects .tagContainer .tag:nth-child(40) {
  animation-delay: 4.6997781085s;
}
#projects .tagContainer .tag:nth-child(41) {
  animation-delay: 4.7657792856s;
}
#projects .tagContainer .tag:nth-child(42) {
  animation-delay: 4.5513429651s;
}
#projects .tagContainer .tag:nth-child(43) {
  animation-delay: 4.9052737856s;
}
#projects .tagContainer .tag:nth-child(44) {
  animation-delay: 4.8415163786s;
}
#projects .tagContainer .tag:nth-child(45) {
  animation-delay: 4.9900549396s;
}
#projects .tagContainer .tag:nth-child(46) {
  animation-delay: 5.2254989361s;
}
#projects .tagContainer .tag:nth-child(47) {
  animation-delay: 5.3614739326s;
}
#projects .tagContainer .tag:nth-child(48) {
  animation-delay: 5.1904751633s;
}
#projects .tagContainer .tag:nth-child(49) {
  animation-delay: 5.332680633s;
}
#projects .tagContainer .tag:nth-child(50) {
  animation-delay: 5.7474703413s;
}
#projects .tagContainer .tag:nth-child(51) {
  animation-delay: 5.8280775303s;
}
#projects .tagContainer .tag:nth-child(52) {
  animation-delay: 5.9185419939s;
}
#projects .tagContainer .tag:nth-child(53) {
  animation-delay: 5.9786527848s;
}
#projects .tagContainer .tag:nth-child(54) {
  animation-delay: 6.083328463s;
}
#projects .tagContainer .tag:nth-child(55) {
  animation-delay: 5.7694744499s;
}
#projects .tagContainer .tag:nth-child(56) {
  animation-delay: 6.0240826591s;
}
#projects .tagContainer .tag:nth-child(57) {
  animation-delay: 6.4173524723s;
}
#projects .tagContainer .tag:nth-child(58) {
  animation-delay: 6.448523906s;
}
#projects .tagContainer .tag:nth-child(59) {
  animation-delay: 6.1591546329s;
}
#projects .tagContainer .tag:nth-child(60) {
  animation-delay: 6.3939187946s;
}
#projects .tagContainer .tag:nth-child(61) {
  animation-delay: 6.4773403782s;
}
#projects .tagContainer .tag:nth-child(62) {
  animation-delay: 6.8615710644s;
}
#projects .tagContainer .tag:nth-child(63) {
  animation-delay: 6.915951079s;
}
#projects .tagContainer .tag:nth-child(64) {
  animation-delay: 6.9684051266s;
}
#projects .tagContainer .tag:nth-child(65) {
  animation-delay: 7.0808783564s;
}
#projects .tagContainer .tag:nth-child(66) {
  animation-delay: 7.194579455s;
}
#projects .tagContainer .tag:nth-child(67) {
  animation-delay: 7.2036910578s;
}
#projects .tagContainer .tag:nth-child(68) {
  animation-delay: 7.0599698901s;
}
#projects .tagContainer .tag:nth-child(69) {
  animation-delay: 7.5979110013s;
}
#projects .tagContainer .tag:nth-child(70) {
  animation-delay: 7.5534100861s;
}
#projects .tagContainer .tag:nth-child(71) {
  animation-delay: 7.6191891581s;
}
#projects .tagContainer .tag:nth-child(72) {
  animation-delay: 7.5623588641s;
}
#projects .tagContainer .tag:nth-child(73) {
  animation-delay: 7.8290042388s;
}
#projects .tagContainer .tag:nth-child(74) {
  animation-delay: 7.888875034s;
}
#projects .tagContainer .tag:nth-child(75) {
  animation-delay: 8.0638925141s;
}
#projects .tagContainer .tag:nth-child(76) {
  animation-delay: 8.1909553111s;
}
#projects .tagContainer .tag:nth-child(77) {
  animation-delay: 8.0194123401s;
}
#projects .tagContainer .tag:nth-child(78) {
  animation-delay: 8.2063877655s;
}
#projects .tagContainer .tag:nth-child(79) {
  animation-delay: 8.5893873519s;
}
#projects .tagContainer .tag:nth-child(80) {
  animation-delay: 8.5039949762s;
}
#projects .tagContainer .tag:nth-child(81) {
  animation-delay: 8.7433313495s;
}
#projects .tagContainer .tag:nth-child(82) {
  animation-delay: 8.4649045726s;
}
#projects .tagContainer .tag:nth-child(83) {
  animation-delay: 8.5569990597s;
}
#projects .tagContainer .tag:nth-child(84) {
  animation-delay: 8.8481158463s;
}
#projects .tagContainer .tag:nth-child(85) {
  animation-delay: 9.1078492281s;
}
#projects .tagContainer .tag:nth-child(86) {
  animation-delay: 9.1660240386s;
}
#projects .tagContainer .tag:nth-child(87) {
  animation-delay: 9.1003769851s;
}
#projects .tagContainer .tag:nth-child(88) {
  animation-delay: 9.3714274329s;
}
#projects .tagContainer .tag:nth-child(89) {
  animation-delay: 9.3589398581s;
}
#projects .tagContainer .tag:nth-child(90) {
  animation-delay: 9.5278486279s;
}
#projects .tagContainer .tag:nth-child(91) {
  animation-delay: 9.7729554304s;
}
#projects .tagContainer .tag:nth-child(92) {
  animation-delay: 9.6083908769s;
}
#projects .tagContainer .tag:nth-child(93) {
  animation-delay: 9.7243974636s;
}
#projects .tagContainer .tag:nth-child(94) {
  animation-delay: 9.9952794062s;
}
#projects .tagContainer .tag:nth-child(95) {
  animation-delay: 10.0850090078s;
}
#projects .tagContainer .tag:nth-child(96) {
  animation-delay: 10.2668169364s;
}
#projects .tagContainer .tag:nth-child(97) {
  animation-delay: 9.9721234244s;
}
#projects .tagContainer .tag:nth-child(98) {
  animation-delay: 10.5017848782s;
}
#projects .tagContainer .tag:nth-child(99) {
  animation-delay: 10.546559027s;
}
#projects .tagContainer .tag:nth-child(100) {
  animation-delay: 10.5563286511s;
}
@keyframes slide-in-from-left {
  0% {
    transform: translate(-100%, 0);
  }
  80% {
    transform: translate(2%, 0);
  }
  100% {
    transform: translate(0);
  }
}
@keyframes slide-in-from-right {
  0% {
    transform: translate(100%, 0);
  }
  80% {
    transform: translate(-2%, 0);
  }
  100% {
    transform: translate(0);
  }
}
#projects .projectInfo {
  /* should auto expand to fill parent div*/
  padding: 1vh 5vw 5vh 5vw;
}
#projects #HCM.has-been-visible, #projects #com.has-been-visible {
  animation: 0.5s ease-in-out slide-in-from-left;
  transform: translate(0, 0);
}
#projects #HCM, #projects #com {
  transform: translate(-100%, 0);
}
#projects #CEER.has-been-visible, #projects #autosplitter.has-been-visible {
  animation: 0.5s ease-in-out slide-in-from-right;
  transform: translate(0, 0);
}
#projects #CEER, #projects #autosplitter {
  transform: translate(100%, 0);
}/*# sourceMappingURL=projectInfo.css.map */