
$shadow-x-distance: 60px;
$shadow-y-distance: 40px;
$shadow-blur: 10px;
$shadow-color: #000000;
$bevel-background-alpha: 1.0;

$desktop-project-width: 60%;
$mobile-project-width: 80%;

#projects{
  overflow-x:hidden;
  padding-bottom: 15vh;

$section-intro-duration: 0.5s;

.projectInfoWrapper
{
  overflow:hidden; /* prevent internal animations expanding the browser window or pushing other stuff around*/
}

@keyframes expand-from-nothing
{
  from {
    transform: scaleX(0);
    transform: scaleY(0);
  }
  to {
    transform: scaleX(1);
    transform: scaleY(1);
  }
}

@keyframes animate-bevel-border {

  0% {
    background-color: rgb(0, 59, 93); // when pulse gone but it's about to come back
  }
  10% {
    background-color: linear-gradient(to left, rgb(129, 209, 255), rgb(0, 59, 93));
  }

  35% {
    background-color: rgb(129, 209, 255);
  }

  55% {
    background-color: linear-gradient(to right, rgb(129, 209, 255), rgb(0, 59, 93));
  }

  80% {
    background-color: rgb(7, 90, 138); // when pulse gone but it's about to come back
  }

  100% {
    background-color: rgb(0, 59, 93); // when pulse gone but it's about to come back
  }

}

#HCM
{
  padding-top: 15vh;
}

.beveled-background-container{
  padding: 3vh 1vw 12vh 1vw;
  height: 100%;
  width: 100%;

  filter:  drop-shadow(12vw 8vh 15px rgba(0,0,0,0.5));
}


.beveled-background-border, .beveled-background-inner{
  clip-path: polygon(90% 0, 100% 20%, 100% 100%, 0 100%, 0 0);
}

.beveled-background-border{
  background: rgb(0, 162, 255);
  width: $desktop-project-width;
  margin:auto;
  padding: 2px 2px 2px 2px; // controls border thickness

  // animate a cool glowing pulse effect in sync with the background lights
  animation-name: animate-bevel-border;
  animation-duration: 4s;
  animation-delay: 0.3s;
  animation-fill-mode:forwards;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
 }



.beveled-background-inner{
  background: radial-gradient(circle, rgba(1,0,10,$bevel-background-alpha) 0%, rgba(26,26,41,$bevel-background-alpha) 44%, rgba(13,26,28,$bevel-background-alpha) 100%);
}




p {
  /* align paragraph to the center of the screen*/
  margin: auto;
  margin-top: 0;
  margin-bottom: 0.3em;
  width: 100%;
  text-align: left;
  font-size: 120%;
  text-shadow: black 0 0 10px, black 0 0 5px;//, $shadow-color $shadow-x-distance $shadow-y-distance $shadow-blur;
  color: var(--text);

  /*increase line spacing slightly*/
  line-height: 1.20;


  @media (orientation: portrait) {
    font-size: 4vw;
  }

}



h2 {
  /* same as above with slightly smaller font */ 
  text-align: center;
  background-color: var(--color);
  font-family: "public-pixel", monospace;
  font-size: 3em;
  padding: 16px;
  padding-top: 40px;
  padding-bottom: 8px;
  margin: auto;
  margin-top: 0;
  margin-bottom: 0.3em;
  color:var(--title);
  text-shadow: black 0 0 10px, black 0 0 5px;//, $shadow-color $shadow-x-distance $shadow-y-distance calc($shadow-blur + 5px);


}




.tagContainer{

    .tag{
        display: inline-block;
        color:var(--text-disabled);
        background-color: var(--titleHighlight);
        scroll-snap-align: start;
        transform: scaleX(0);
        transform: scaleY(0);
        box-shadow: rgba(0, 0, 0, 0.5) 8px 8px $shadow-blur;
    }

    .tag.has-been-visible
    {
      animation-name: expand-from-nothing;
      animation-duration: 0.5s;
      animation-fill-mode: forwards;
      animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }

    @for $i from 1 through 100 {
      .tag:nth-child(#{$i})
      {
        $delay: ($section-intro-duration * 0.5) + ($i * 0.1 ) + (0.5 * random());
        animation-delay: #{$delay};
      }
    }

}



@keyframes slide-in-from-left
{
  0% {
    transform: translate(-100%, 0);
  }

  80%
  {
    transform: translate(+2%, 0);
  }

  100% {
    transform: translate(0);
  }
}

@keyframes slide-in-from-right
{
  0% {
    transform: translate(100%, 0);
  }

  80%
  {
    transform: translate(-2%, 0);
  }

  100% {
    transform: translate(0);
  }
}



.projectInfo{
  /* should auto expand to fill parent div*/
padding: 1vh 5vw 5vh 5vw;

}


/* alternate slide-in-from-left and slide-in-from-right for each project. Hide off screen when not visible. */
#HCM.has-been-visible, #com.has-been-visible{
  animation: $section-intro-duration ease-in-out slide-in-from-left ;
  transform: translate(0, 0);
  }


#HCM, #com{
  transform: translate(-100%, 0);
  }

#CEER.has-been-visible, #autosplitter.has-been-visible{
  animation: $section-intro-duration ease-in-out slide-in-from-right ;
  transform: translate(0, 0);
  }


#CEER, #autosplitter{
  transform: translate(100%, 0);
  }


}