#stickyHeader {
    display: block; /*Force other content down*/
    position:sticky;
    top:0;
    width:100%;
    margin: 0;
    padding: 0;
    z-index:100;


    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-image: linear-gradient(to right, rgb(75, 80, 119) , rgb(89, 63, 131));
        font-family: sans-serif;
      }
      
      li {
        float: left;
      }
      
      li a {
        display: block;
        color: rgb(250, 130, 31);
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 120%;
        font-weight: 700;
        text-shadow: rgb(75, 72, 156) 0 0 3px;
      }
      
      /* Change the link color to white on hover */
      li a:hover {
        background-color: #c55959;
      }

}