#stickyHeader {
    display: block; /*Force other content down*/
    position:fixed;
    top:0;
    width:100%;
    margin: 0;
    padding: 0;
    z-index:100;


    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
      opacity: 100%;
    background: linear-gradient(to right, rgba(89, 63, 131, 1) 0%, var(--inside-color) 40%, var(--inside-color) 60%, var(--outside-color) 100%);
      backdrop-filter: blur(3px);
      mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(0,0,0,0.9) 90%, rgba(0,0,0,0.0) 100%);
        /* background-image: linear-gradient(to right, rgb(75, 80, 119) , rgb(89, 63, 131)); */
        font-family: sans-serif;
      }
      
      li {
        float: left;
      }
      
      li a {
        display: block;
        color: rgb(250, 130, 31);
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 120%;
        font-weight: 700;
        text-shadow: rgb(75, 72, 156) 0 0 3px;
      }
      
      /* Change the link color to white on hover */
      li a:hover {
        background-color: #c55959;
      }

}