



body {
  background-color: var(--windowBackground);
}


.main {
  text-align: center;
	width: 30%;  
  margin: auto;
  color:var(--title);

  p {
    text-align: left;
    font-size: 100%;
    color: var(--text);
  }

  h1 {
    display: inline-block;
    background-color: var(--color);
    font-family: "public-pixel", monospace;
    font-size: 2em;
    padding: 16px;
    padding-top: 4px;
    padding-bottom: 8px;
    margin: auto;
    margin-top: 0;
    margin-bottom: 0.3em;
  }

}




/*TODO: update these placeholder colours*/
a:link {
  color: gray;
}

a:visited {
  color: green;
}

a:hover {
  color: rebeccapurple;
}

a:active {
  color: teal;
} 
  
#anchorLink 
  {
    a, a:hover, a:visited, a:active {
      color: inherit !important;
      text-decoration: none !important;
     }
  }

section {
  padding-bottom: 64px;
  margin-bottom: 80px;
  position: relative;
}