{parameters $title, $tags, $copy, $link}

<div class="projectInfo" data-inviewport="scale-in" id="killme">
        <h1 class="title">{$title}</h1>
        <p class="tagContainer">
            {foreach $tags as $tag}
                <button class="tag">
                    {$tag}
                </button>
            {/foreach} 
        </p>
        <p class="copy">{$copy}</p>
        <a class="link" href='{$link}'>{$link}</a>
</div>